node_modules/
.env
.env.local
.next/
dist/
out/
.turbo/
*.log

# Foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/

# OS
.DS_Store
Thumbs.db

.idea

tmp

docs/internal
